@page
@model JobFinder.Areas.Identity.Pages.RecruiterInfo.AboutModel
@{
    ViewData["CompanyName"] = Model.Recruiter.CompanyName;
    ViewData["Address"] = Model.Recruiter.Address;
    ViewData["StaffSize"] = Model.Recruiter.StaffSize;
    ViewData["CompanyImage"] = Model.Recruiter.CompanyImage;
    Layout = "~/Areas/Identity/Pages/RecruiterInfo/Shared/_RecruiterLayout.cshtml";
}

<div class="col-lg-8 mb-md-0 mb-4" style="margin-top: 20px;">
    <div class="card">
        <div class="single-job-items mb-50" style="padding: 30px 10px; margin-bottom: 0.00; display: block;">
            <div class="job-items" style="display: block">
                <div class="company-img">
                    <div class="job-tittle job-tittle2" style="margin-left: 15px;">
                        <div style="display: flex; align-items: center;">
                            <h4 style="margin: 0;">About</h4>
                        </div>
                        <div>
                            <div style="white-space: pre-line;">
                                <h5>Company Descripstion</h5>
                                @Model.Recruiter.CompanyDescription
                                <ul>
                                    <li><strong>Website: </strong></li>
                                    <li>@Model.Recruiter.CompanyWebsite</li>
                                    <li><strong>Company Phone: </strong></li>
                                    <li>@Model.Recruiter.CompanyPhone</li>
                                    <li><strong>Company Email: </strong></li>
                                    <li>@Model.Recruiter.CompanyEmail</li>
                                    <li><strong>Address: </strong></li>
                                    <li>@Model.Recruiter.Address</li>
                                    <li><strong>Staff Size: </strong></li>
                                    <li>@Model.Recruiter.StaffSize</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>